@model GameStore.Models.Game

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @await Html.PartialAsync("_TopBar")

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert-box error-alert">@TempData["ErrorMessage"]</div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert-box success-alert">@TempData["SuccessMessage"]</div>
    }

    <div class="page">
        <div class="detail-card">
            <h1>@Model.Title</h1>

            <p><b>Разработчик:</b> @Model.Developer</p>
            <p><b>Издатель:</b> @Model.Publisher</p>

            <div class="big-price">@Model.Price ₽</div>

            <form method="post" action="/Games/Buy/@Model.Id">
                <button class="btn" type="submit">Купить</button>
            </form>
        </div>
    </div>

</body>
</html>